**/__pycache__
*.pyc
.vscode
.idea
build
test/.coverage
test/coverage
*.xml
*.db
*.pickle
*.coverage
cmake-build-debug
3rdparty/boundscheck/
3rdparty/json/
3rdparty/opentelemetry/include/opentelemetry/
3rdparty/protobuf/

